body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    font-size: 22pt;
}

h1 {
    text-align: center;
    padding: 40px;
    
}

button {
    width: 250px;
    margin: 10px;
    height: 50px;
}

.container {
    background-color: #e9f5ff;
    min-height: 900px;
    margin-top: 40px;
    text-align: center;
    
}

.row {
    margin: 30px;
   
}

.timer {

}

.section_1 {

}

.section_2 {

}