body {
    background-image: url("../images/p.jfif");
    background-size: cover;
    font-size: 20pt;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 35pt;
    
}

button {
    min-width: 250px;
    margin: 10px;
    height: 50px;
}

.container {
    background-color: #c0f8f8;
    min-height: 700px;
    margin-top: 40px;
    text-align: center;
    width: 800px;

    
}

.row {
    margin: 20px;
   
}

.timer {

}

.section_1 {

}

.section_2 {

}